.react-multi-carousel-list  {
    margin-top: 62px;
    /*height: 607px !important;*/
}

.react-multi-carousel-item {
    max-width: 540px !important;
    max-height: 705px !important;
}

@media screen and (max-width: 780px){
    .react-multi-carousel-list  {
        margin-top: 10px;
        /*height: 607px !important;*/
    }
}