.alice-carousel{
    z-index: 1;
    top: -80px;
    /*position: absolute;*/
    max-width: 1170px !important;
    height: 380px;
    margin: 0 auto;
}



.alice-carousel__stage-item img{
    max-width: 360px !important;
    max-height: 255px !important;
}

.alice-carousel__prev-btn-item span{
    font-size: 30px;
}

.alice-carousel__next-btn-item{
    font-size: 30px;
}


@media screen and (max-width: 780px){
    .alice-carousel{
        top: 0;
        margin-top: 50px !important;
    }


    .alice-carousel__stage-item{
        display: flex;
        align-items: center;
        justify-content: center;

    }

}