
.equipmentsContainer{
    width: 100%;
    background-color: #2D2D2D;


}





.equipments{
    margin: 80px auto;
    /*margin-top: 60px;*/
    max-width: 1602px;

    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    row-gap: 80px;
}



.equipment{
    /*width: 312px;*/
    cursor: pointer;
    box-shadow: rgba(0, 114, 168, 0.3) 6px 8px 25px;

}

.equipment:hover{
    -webkit-filter: brightness(70%);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    /*transition: all .5s ease;*/
}


.equipmentImg:hover + .equipmentDescription{
    background-color: #0072A8;
}

.equipmentDescription:hover{
    background-color: #0072A8;
}

.equipmentImg{
    max-height: 400px;
    width: 502px;
}

.equipmentDescription{
    font-family: 'Montserrat', sans-serif;
    margin-top: -3px;
    /*width: 312px;*/
    height: 300px;
    background-color: #242424 ;
}

.equipmentDescription{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    max-width: inherit;
    padding: 10px 40px;
    background-color: #242424;
    font-size: 15px;
    font-weight: 600;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    letter-spacing: .1em;

}

.equipmentDescription h3{

    font-size: 25px;
}


.modal{
    margin: 0;
    padding: 0 !important;
    max-width: 652px !important;
}

.content{
    width: 652px !important;

}

.equipmentImgModal{
    max-height: 360px;
    width: 100%;
}


.equipmentDescriptionModal {
    margin: 0 auto;
    text-align: justify;
    width: 90%;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    align-items: center;
    /*padding: 15px 35px 0 35px;*/

}

.equipmentDescriptionModal div{
    margin-top: 10px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.equipmentDescriptionModal p{
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 20px;
}



@media screen and (max-width: 780px){
    .equipmentsHeading{
        padding: 30px;
        display: block;
    }

    .equipmentsHeading h1{
        font-size: 30px;
        line-height: 40px;

    }

    .equipmentsHeading p{
        font-size: 10px;
    }

    .equipments{
        margin-top: 30px;
        justify-content: center;
    }

    .equipment{
        width: 85%;
    }

    .equipmentImg, .equipmentImgModal{
        width: 100%;
        height: 250px;
    }

    .content{
        width: 302px !important;

    }

    .equipmentDescriptionModal p{
        font-size: 10px;
    }

}

@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px){
    .equipments{
        max-width: 1300px;
    }

    .equipmentImg{
        height: 400px;
        width: 402px;
    }
}
