
.partnersWrapper{

    margin-bottom: 120px;
    width: 100%;
    display: flex;
    justify-content: center;


}

.partnersHeading{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.partnersHeading h1{
    color: #232323;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 45px;
}

.partnersContent{
    margin: 0 auto;
    max-width: 1602px;
}

.partnerLogo{
    object-fit: contain;
    width: 220px;
    height: 150px;
}

.partnersList{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
    gap: 80px;
}

.partners{
    border: 1px solid #e5e5e5;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.partners h3{
    color: #232323;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    margin-top: 25px;
}


@media only screen and (min-width: 1024px) and (max-width: 1920px) {
    .partnersContent{
        margin-left: 90px;
        margin-right: 90px;
    }

}


@media screen and (max-width: 780px){
    .partnersHeading{
       margin-top: 4px;
    }

    .partnersList{
        justify-content: center;
        gap: 25px;
    }

    .partnerLogo{
        width: 130px;
        height: 150px;
    }

    .partnersWrapper{
        margin-top: -135px;
    }
}
