.aboutProjectsWrapper{
    height: 1500px;
    background-color: #2D2D2D;
    position: relative;
    margin-top: 210px;

}

.aboutProjectsWrapper::before{
    margin-top: 90px;
    top: 25%;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #242424;

    width: 45%;

}


.aboutProjectsContent{
    display: flex;
    flex-direction: column;
    margin: 180.5px auto;
    max-width: 1603px;
    /*height: 1300px;*/
}

@media screen and (max-width: 780px){
    .aboutProjectsWrapper::before{
        margin-top: 0;
        top: 0;
        content: none;
        position: relative;
        bottom: 0;
        left: 0;
        background-color: transparent;

        width: auto;
    }
    .aboutProjectsWrapper {
        height: 1350px;
    }

    .aboutProjectsContent{
        height: 1400px;
    }


}
