
.servicesContainer{
    width: 100%;
    background-color: #2D2D2D;


}




.services{
    margin: 80px auto;
    /*margin-top: 60px;*/
    max-width: 1602px;

    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    row-gap: 80px;
    column-gap: 25px;
}



.service{
    width: 380px;
    box-shadow: rgba(0, 114, 168, 0.3) 6px 8px 25px;
    transition: transform .7s !important;
}

.service:hover{
    transform: scale(1.05) !important;
}

.serviceImg{
    display: block;
    height: 210px;
    width: 100%;
}

.serviceDescription{
    font-family: 'Montserrat', sans-serif;
    /*margin-top: -3px;*/
    /*width: 312px;*/
    height: 350px;
    background-color: #e5e4e2 ;
}



.serviceDescription{
    padding-top: 30px;
    padding-left: 30px;
}

.serviceDescription h3{
    font-size: 25px;
}

.serviceDescription ul{
    padding-top: 20px;
    font-size: 18px;
    line-height: 2;
    padding-left: 20px;

}


.serviceDescription ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #0072A8; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}



@media screen and (max-width: 780px){
    .servicesHeading{
        padding: 30px;
        display: block;
      }

    .servicesHeading h1{
        font-size: 30px;
        line-height: 40px;

    }

    .servicesHeading p{
        font-size: 10px;
    }

    .services{
        justify-content: center;
        margin-top: 30px;
    }

    .service{
        width: 85%;
    }

    .serviceImg{
        width: 100%;
    }

    .serviceDescription{
        height: 340px;

    }
}


@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
{
    .services{
        max-width: 1302px !important;

    }
}

